div {
    border: 1px gray solid;
    padding: 5px;
    margin: 5px;
}
/*Relative se posiciona en relación al posicionamiento por defecto (static)*/
.relative {
    position: relative;
    left: 80px; /*80px desplazados relativos a la posición original*/
}
/*Fixed se posiciona en relación al viewport (pantalla)*/
.fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: aqua;
    z-index: 10;
}
/*Absolute se posiciona en función del padre, en este caso del body y de la posición relativa*/
.absolute {
    position: absolute;
    top: 50px;
    background-color: brown;
}
.sticky {
    position: sticky;
    background-color: chocolate;
    color: white;
    top: 0px;
    z-index: 2;
}