* {
    padding: 0;
    margin: 0;
}

.video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
    gap: 10px;
}

.header h1 {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aquamarine;
}