body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /*Lo centra horizontalmente*/
    align-items: center; /*Lo centra verticalmente cuando hay varias lineas de código*/
    min-height: 100vh; /*Lo centra en el viewport (Pantalla)*/
}
.btn-tooltip {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
    border-bottom: 2px solid rgb(2, 117, 2);
    transition: background-color 150ms;
    position: relative;
}
.btn-tooltip:hover {
    background-color: rgb(4, 87, 4);
}
/* .btn-tooltip:hover::before {
    content: "Esto es un tooltip";	
} */
.tooltip {
    position: absolute;
    top: -50px;
    left: -100%;
    transform: translateX(25%);
    color: #ddd;
    background-color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    transition: opcacity 150ms;
    opacity: 0;
}
.btn-tooltip:hover .tooltip {
    opacity: 1;
}
.tooltip::before {
    content: '';
    border: solid 10px transparent;
    border-top-color:#333 ;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}